@font-face {
    font-family: "Bebas";
    src: url("../fonts/Bebas-Regular.ttf");
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #141414;
    color: #ffffff;
    font-family: "Bebas";
}

header {
    background-color: #e50914;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}

header h1 {
    color: #ffffff;
    font-size: 2rem
}

header h2{
    color: #ffffff;
    font-size: 1rem;
    text-align: center;
}

button {
    background-color: #white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 5px;
    cursor: pointer;
}

.movie {
    max-width: 300px;
    margin: 1rem;
    background-color: #303030;
    color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
}

.movie h2 {
    padding: 1rem;
    font-size: 1.2rem;
}

.movie p {
    padding: 0.5rem;
    font-size: 0.9rem;
}

#movie-container {
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-gap: 1rem;
width: 90%;
margin: 0 auto;
padding-top: 5rem;
}